.button{
  margin: 0;
  background-color: lightgray;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
  border-bottom: black 1px solid;
}
.button_last{
  border-bottom: 0;
}

.sub_child_1 {
  box-sizing: border-box;
  display: block;
}

/* Add a background color on hover */
.button:hover {
  background-color: brown;
  color: white;
}

.button.selected {
  background-color: brown;
  color: white;
}



